/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 
.wlcfc-product-list{
	list-style-type: decimal;
	list-style-position: outside;
	padding-left: 10px;
	margin: 0;
}

.woocommerce_page_wclcfc .column-cart_contents{
	width: 350px;
}

.woocommerce_page_wclcfc .column-time{
	width: 180px;
}

@media screen and (max-width: 1200px) {
	.woocommerce_page_wclcfc .column-cart_contents{
		width: 280px;
	}
}
@media screen and (max-width: 1000px) {
	.woocommerce_page_wclcfc .column-time,
	.woocommerce_page_wclcfc .column-cart_contents{
		width: auto;
	}
}
